/* 変数 ------------------------*/

// button
/*@import "button.scss";*/

// メイン背景色
$main-bg-color: #f4f6f9;

/* 全体共通 */
body {
    font-family: "Noto Sans JP", helvetica, arial, "hiragino kaku gothic pro",
        meiryo, "ms pgothic", sans-serif;
    /*font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;*/
    /*font-family: "Noto Sans JP", sans-serif !important;*/
    /*font-family: 'Noto Serif JP', serif !important;*/
    /*font-family: 'M PLUS 1p', sans-serif;*/
    /*font-family: 'M PLUS Rounded 1c', sans-serif;*/
    background-color: $main-bg-color;
}

/*
  ページタイトル
*/
.content-header {
    /*margin-bottom: 5px;*/
    padding: 15px 0.8rem;
}

/* コンテンツのタイトル。文字を小さくした */
.content-header h1 {
    font-size: 1.4rem;
}

/**
  * 改行を表示
  */
.nl2br {
    white-space: pre-wrap;
}

/* テーブルタグ ------------------------*/

/* テーブル。最後の列がボタンの場合 */
.table-button td:last-child {
    width: 1px;
    white-space: nowrap;
}

/* テーブルのタイトル行。それと太字にしない */
.table th {
    /*background-color: rgba(0, 0, 0, 0.03);*/
    background-color: rgba(181, 179, 179, 0.18);
    /*font-weight: normal;*/
}

/* tdの背景は白にする */
/* ホバーが効かなくなるのでコメント
.table td {
     background-color: white; 
}
*/

/* tableの中にtableを書くと線が出てしまう対応 */
.noborder-only-top th {
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-top: none;
    background: none;
}
.noborder-only-top td {
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-top: 1px solid #dee2e6;
}

/* 線を完全に非表示 */
.noborder td,
.noborder th {
    border-style: none;
}

/* タイトル行のインデント */
.title-indent {
    text-indent: 1em;
}

/* 表示項目のインデント(生徒名など) */
.edit-disp-indent {
    text-indent: 1em;
}

/* ヘッダ行が縦の場合 幅を統一する */
@media (min-width: 992px) {
    .table-v-header tr:nth-of-type(1) th:nth-of-type(1) {
        width: 200px;
    }
}

@media (min-width: 668px) {
    .table-v-header.fix tr:nth-of-type(1) th:nth-of-type(1) {
        width: 200px;
    }
}

/*欠席申請の授業日時等のテーブルの幅固定*/
@media (max-width: 414px) {
    .table-v-header tr:nth-of-type(1) th.t-minimum:nth-of-type(1) {
        width: 1px;
        white-space: nowrap;
    }
}

/* カードタグ ------------------------*/

/* 
  カードの枠に線を表示。
  影も外す
  下にマージンを取る。
 */
.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: none;
}

.card-title {
    /*color: gray;*/
    margin-bottom: 0;
}

/* カードのローディング */
.card .overlay {
    opacity: 0.6;
}

/* bootboxのローディング ------------------------*/

.modal-dialog .overlay-spin {
    background-color: #fff;
    display: block;
    height: 50px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1052;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}
.modal-dialog .overlay-text {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}
/* ローディングの回転スピード */
.fast-spin {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

/* モーダルのローディング ------------------------*/

.modal-dialog .overlay {
    background-color: #fff;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1052;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

/* コールアウト */

.callout {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 5px solid #e9ecef;
    box-shadow: none;
}
.callout > p {
    font-size: 0.9em;
}

/* メッセージ ------------------------*/

/* エラーメッセージ */
.err-list {
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

/* エラー時のボタン(ファイル) */
.error-btn {
    border-color: #dc3545;
}

/* Vue ------------------------*/

/* 非表示 */
[v-cloak] {
    display: none !important;
}

/* select2のエラー ------------------------*/

.is-invalid .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}

/* 編集・登録画面 ------------------------*/

/* タイトル */
.card-form .input-title {
    font-size: 1.2rem;
    /*font-weight: bold;*/
}

@media (max-width: 414px) {
    //メールアドレスが枠を突き抜けるのを防ぐ
    .table > tbody > tr > td {
        word-break: break-all;
    }

    .card-body > .table.smart-phone {
        margin: 0;
        display: block;
        padding: 6px;
        background-color: rgba(181, 179, 179, 0.18);
    }

    .card-body > .table.smart-phone.mb-small {
        margin: 0 0 1rem;
    }

    .card-body > .table.smart-phone > thead,
    .card-body > .table.smart-phone > thead > tr,
    .card-body > .table.smart-phone > thead > tr > th {
        display: none;
    }

    .card-body > .table.smart-phone > tbody {
        width: 100%;
        display: block;
    }

    .card-body > .table.smart-phone > tbody > tr {
        width: 100%;
        display: block;
        margin: 0 auto 6px;
        padding: 6px;
        background-color: #fff;
        border-radius: 6px;
        border: 1px solid #dee2e6;
    }

    .card-body > .table.smart-phone > tbody > tr:last-of-type {
        margin: 0 auto;
    }

    .card-body > .table.smart-phone > tbody > tr > td {
        width: 100%;
        display: block;
        padding: 6px 12px;
        border: none;
        border-bottom: dashed 1px#dee2e6;
        white-space: normal;
    }

    .card-body > .table.smart-phone > tbody > tr > td > span.resp-th {
        font-size: 0.725rem;
        font-weight: bold;
        display: block;
        margin-left: -6px;
    }

    /*打消し*/
    .card-body .table.smart-phone tbody > tr > td:first-of-type {
        padding: 6px 12px;
        border: none;
        border-bottom: dashed 1px#dee2e6;
    }

    .card-body .table.smart-phone tbody > tr > td:last-of-type {
        border: 1px solid #dee2e6;
        text-align: center;
        border: none;
        padding: 6px 12px;
    }

    .card-body .table.smart-phone tbody > tr > td.not-center:last-of-type {
        text-align: left;
    }

    .card-footer > ul.pagination {
        max-width: 100%;
        overflow-x: scroll;
    }

    /*カード内配置タイプ*/
    .card-body > .table.smart-phone.inner-card {
        background-color: rgba(181, 179, 179, 0.18);
        border: 1px solid #dee2e6;
    }

    /*空き時間*/
    .table-checked .tt {
        font-size: 0.875rem;
        padding: 0.25rem;
        vertical-align: middle;
    }
    .table > thead > tr > th.t-week {
        width: 14%;
        font-size: 0.725rem;
        padding: 0.25rem;
    }
}